#checklist .checklist-true {
  display: none;
}
#checklist .done-true {
  text-decoration: line-through;
  color: green;
}
#checklist .done-true:after {
  content: " - Passou";
}
#checklist table > tbody > tr > td span.editable:hover {
  text-decoration: none;
  color: #2c3e50;
}
#checklist table > tbody > tr > td span.editable:hover:after {
  content: " - Editar";
}
#checklist table > thead > tr > th:nth-child(1),
#checklist table > tbody > tr > td:nth-child(1),
#checklist table > thead > tr > th:nth-child(3),
#checklist table > tbody > tr > td:nth-child(3) {
  text-align: center;
}
