<div id="home" ng-controller="HomeCtrl as home" >
  <div class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Home</h1>
          <h3>[ <a style="cursor: pointer" ng-click="home.create()">Novo checklist</a> ]</h3>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-bottom:15px; padding-top:15px; margin-bottom:0;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div ng-if="home.files.length == 0" >
            <h1><i>Cadastre seus checklist!</i></h1>
          </div>
          <div ng-if="home.files.length > 0" class="table-responsive" >
            <div ng-repeat="f in home.files track by $index" >
              <table class="table table-condensed table-bordered">
                <tbody>
                  <tr>
                    <td class="text-center" ><h4 editable-text="f.contents.title" onaftersave="home.save($index)" >{{ f.contents.title || 'Não Informado' }}</h4></td>
                    <td class="text-center" width="5%" ><button type="button" class="btn btn-sm btn-info" data-ng-click="isShow = !isShow" ><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Detalhes</button></td>
                    <td class="text-center" width="5%" ><button type="button" class="btn btn-sm btn-info" data-ng-click="home.use(f.file)" ><i class="glyphicon glyphicon-download-alt"></i>&nbsp;&nbsp;Usar</button></td>
                    <td class="text-center" width="5%" ><button type="button" class="btn btn-sm btn-info" data-ng-click="home.duplicate(f.file)" ><i class="fa fa-files-o"></i>&nbsp;&nbsp;Duplicar</button></td>
                    <td class="text-center" width="5%" ><button type="button" class="btn btn-sm btn-danger" data-ng-click="home.delete(f.file)" ><i class="glyphicon glyphicon-trash"></i></button></td>
                  </tr>
                  <tr ng-if="f.contents.itens.length > 0" ng-show="isShow" >
                    <td colspan="5">
                      <table class="table table-condensed table-striped table-bordered" >
                        <thead>
                          <tr>
                            <th>Descrição</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="item in f.contents.itens track by $index" >
                            <td><span class="done-{{item.done}}"> {{item.item}}</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr ng-if="f.contents.itens.length == 0" ng-show="isShow" >
                    <td colspan="5">
                      <table class="table table-condensed table-striped table-bordered" >
                        <thead>
                          <tr>
                            <th>Descrição</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Nenhum item cadastrado!</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="ModalHome.html">
  <div class="modal-header">
  <h3 class="modal-title">Informe o nome do checklist</h3>
  </div>
  <div class="modal-body">
  <input type="text" class="form-control" ng-model="modalitem" >
  <p class="help-block">{{ modalhelp }}</p>
  </div>
  <div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
  </script>

</div>
